*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    font-size: 62.5%;
    /* 1 rem = 10 px */
}
:root{
    
    --primary-text: #28282b;
    --background-shade: #022b2b;
    --para-color: #242427;
    --helper-color:#fbf384;
    --helper-text: #202022;
    --white: #faf9f6;

}
/* #c4b454 it is the previous helper colour  */
body{
    background: #faf9f6;
}
a{
    text-decoration: none;
    display: inline-block;

}
img{
    display: inline-block;
    width: 100%;
}
li{
    list-style: none;
}
h1,h2,h3,h4{
    color: var(--primary-text);

}
.para{
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 400;
    color: var(--para-color);
}
.section{
    padding: 9.6rem 4rem 0rem 4rem;
}
.container{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 0;
}
.btn{
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 1.6rem 3.2rem;
    border-radius: 10rem;   
    background: var(--helper-color);
    color: var(--helper-text);
    transition: 0.2s all linear;
    font-weight: bold;
}
.btn:hover,
.btn:active{
    transform: scale(1.05);
}

/* navbar section */
.logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-text);
    text-transform: uppercase;
}
.navlink{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-text);
}
.navbar a{
    text-decoration: none;
    display: inline-block;
}
.header{
    height: 8rem;
    background: var(--helper-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px var(--primary-text) solid;
}
.navlist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: 0.3s all linear;
}

.nav-btn{
    padding: 1.2rem 2.4rem;
    border: 1px var(--background-shade) solid;
    border-radius: 4rem;
    transition: 0.2s all linear;
}
.nav-btn:hover,
.nav-btn:active{
    background-color: var(--background-shade);
    color: var(--helper-color);
}
.navi:hover,
.navi:active{

    
    color: #59788e;
    
}
.logo::selection{
    background: var(--background-shade);
    color: var(--helper-color);
}
.navlink::selection{
    background: var(--background-shade);
    color: var(--helper-color);
}

/* Hero Section Starts Here */
.primary-heading{
    font-size: 4rem;
    color: var(--primary-text);
    margin-bottom: 2rem;
}
.herosection .btn{
    margin-top: 2rem;
}
.hero-img{
    height: 40rem;
    width: 40rem;
    border-radius: 4rem;
}
.hero-text{
    margin: 3rem 0 0 0;
}
.grid{
    display: grid;
    gap: 5rem;
}
.grid-two-col{
    grid-template-columns: repeat(2,1fr);
}
.primary-heading::selection, .hero-text .para::selection, .hero-text .btn::selection{
    color: var(--helper-color);
    background-color: var(--primary-text);
}

/* About Section Starts */
.starthead{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 5rem;
    text-transform: lowercase;
    text-align: center;
    color: var(--primary-text);
    opacity: 0.5;
}
.about-text .primary-heading{
    margin-top: 3rem;
}
.about-text .para{
    margin-bottom: 1rem;
}
.about-img{
    height: 40rem;
    width: 40rem;
    border-radius: 4rem;
}
.about-text .primary-heading::selection,
.about-text .para::selection,
.about-text .btn::selection{
    color: var(--helper-color);
    background-color: var(--primary-text);
}
.starthead::selection{

    background: var(--helper-color);
}